name: CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  phpunit:
    name: PHP Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV
        working-directory: ./backend

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress --prefer-dist
        working-directory: ./backend

      - name: Run PHPUnit
        run: vendor/bin/phpunit --colors=always tests --verbose
        working-directory: ./backend
